.category-container{
    color: black;
    margin-top: 4%;
    height: 100%;
  
  }
  .tbl_container{
    margin-left: 2%;
    width:100%;
    background: #fff;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
  }
  .tbl{
    width: 100%;
    border-collapse: collapse;
    height: 100%;
  }
  .tbl thead{
    background:  rgba(213, 228, 128, 0.556);
    color: #0e0d0d;
  }
  .tbl thead tr th{
    font-size: 1.5rem;
    padding: 1.6rem;
    letter-spacing: 0.2rem;
    vertical-align:middle;
    border: 1px solid  rgba(213, 228, 128, 0.556);
  }
  .tbl tr td{
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    
    text-align: center;
    padding: 2%;
  }
  
  .top{
   display: flex;
   gap: 400px;
  
  }
  .top input{
    width: 800px;
    height: 50px;
    border-radius: 5px;
    
  }
  .top h2{
    margin-left: 5%;
    font-size: 2rem;
  }
  .top button{
      height:59px;
      width: 260px;
      background: rgb(98, 43, 109);
      border:none;
      color: #fff;
      font-size:19px;
      border-radius: 5px;
      font-weight: 700;
      cursor:pointer;
  }

